form.login_popup, form.login_block {
	background-color:#ffffff;
	padding:0px 10px;
}
form.login_popup {
	width:230px;
}
form.login_block {
	width:190px;
}

form.login_popup input.login_input, form.login_block input.login_input {
	display:block;
	margin-bottom:10px;
	border:1px solid #cccccc;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}
form.login_popup input.login_input {
	width:230px;
}
form.login_block input.login_input {
	width:180px;
}

form.login_popup div.login_buttons, form.login_block div.login_buttons {
	margin-bottom:5px;
}
form.login_popup div.login_buttons {
	margin-left:34px;
}
form.login_block div.login_buttons {
	margin-left:45px;
}

label.login_label {
	display:block;
	margin-bottom:3px;
}

.login_forgetpass {
	width:330px;
}

.login_detail_head {
	text-align:left;
	vertical-align:top;
	padding:2px 8px !important;
}
.login_detail_detail {
	padding:2px;
}
.login_detail_head_input {
	text-align:left;
	vertical-align:top;
	padding:5px 8px 2px 8px !important;
}
.login_detail_detail_input {
	padding:5px 5px 2px 5px;
}
.login_detail_head_confirm {
	text-align:left;
	vertical-align:top;
	padding:2px 8px 5px 8px !important;
}
.login_detail_detail_confirm {
	padding:2px 5px 5px 5px;
}

.login_desc {
	padding-left:5px;
	color:#af2c4d;
}
.login_disclaimer {
	height:150px;
	width:330px;
}
.login_autoregist_comp {
	text-align:center;
	font-size:130%;
	font-weight:bold;
}
.login_mes_autoregist_confirm {
	width:330px;
	padding:15px;
	border:1px solid #ca9c93;
}
.login_autoregist_content {
	width:330px;
	padding:15px;
	margin-top:10px;
}
.login_autoregist_content_textarea {
	height:150px;
	width:330px;
}

iframe.login_popup {
	border:0px;
	width:250px;
}
iframe.login_block {
	border:0px;
	width:200px;
}
iframe.login_popup_ie7padding {
	padding-bottom:7px;
}

div.login_ssl_outer,
div.login_ssl_outer iframe,
form.login_ssl_outer {
/*	height:195px; */
}
div.login_ssl_outer_rememberme,
div.login_ssl_outer_rememberme iframe,
form.login_ssl_outer_rememberme {
/*	height:220px; */
}

div.login_rememberme {
	text-align:right;
}

div.login_ssl_outer_rememberme div.login_popup_sslcancel_btn,
div.login_ssl_outer div.login_popup_sslcancel_btn {
	margin-left:136px;
}
div.login_ssl_outer div.login_popup_sslcancel_btn {
	margin-top:-63px;
}
div.login_ssl_outer_rememberme div.login_popup_sslcancel_btn {
	margin-top:-88px;
}
div.login_ssl_outer_shibboleth div.login_popup_sslcancel_btn {
	margin-bottom: -5px !important;
}

.login_ssl_font {
	text-align:left;
	padding:5px 0px 10px 10px;
	background:white;
}

input.login_login_button,
input.login_cancel_button {
	border:2px solid #95d1e4;
	background-color:#f9ffff;
	color:#8299bb;
	font-family:arial,sans-serif;
	font-weight:bold;
	padding-top:3px;
	padding-bottom:5px;
	overflow: visible;
	cursor:pointer;
}
input.login_login_button_hover,
input.login_cancel_button_hover {
	border:2px solid #fff07a;
	background-color:#fffbe5;
	color:#e6b857;
}
input.login_login_button {
	font-size:110%;
	padding-left:12px;
	padding-right:12px;
}
input.login_cancel_button {
	font-size:80%;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
}
div.login_popup {
	position: absolute;
	left:-300px;
}

div.login_forgetpass_link {
	text-align:right;
	font-weight:bold;
	padding-top:5px;
}
div.login_ssl_outer div.login_forgetpass_link,
div.login_ssl_outer_rememberme div.login_forgetpass_link {
	padding-right:10px;
}
div.login_ssl_outer div.login_forgetpass_link {
	padding-top: 9px;
}
div.login_ssl_outer_rememberme div.login_forgetpass_link {
	padding-top: 11px;
}
div.login_ssl_outer_shibboleth div.login_forgetpass_link {
	padding-top:5px !important;
}
br.login_offset_height {
	line-height:2em;
}
div.login_ssl_outer_shibboleth br.login_offset_height {
	line-height:0.7em;
}

/* Shibboleth */
div.login_during_login {
    margin-top:50px;
    margin-left:10px;
}
input.login_during_login_button {
    margin-top:65px;
    margin-left:34px;
}
div.login_mapping_description {
	line-height: 1.8em;
}
div.login_mapping_cancel_btn {
	margin-top:-45px !important;
	margin-left:136px !important;
}

.login_mapping_iframe {
	margin-top: 15px ;
}
table.login_mapping_outer {
	margin-top: 10px;
}
table.login_mapping_outer td {
	width: 50%;
	vertical-align: top;
}
.login_mapping_newaccount_btn {
	margin: 50px 50px 50px 50px;
	text-align: center;

}
.login_mapping_newaccount_btn input.login_login_button {
	font-size: small;
	margin-right: 10px;
}
.login_mapping_table_exists_account {
	border-right: 1px solid #E9E9E9;
	padding: 15px 15px 20px 0px;
}
.login_mapping_table_no_account {
	border-left: 1px solid #E9E9E9;
	padding:15px 0px 20px 15px;
}

/* Shibboleth(学認)関連 */
div.login_embedded_opid_list_link,
div.login_embedded_ds_link {
	text-align:right;
	font-weight:bold;
	padding-top:5px;
}

/* 外部連携用ポップアップ */
.login_external_popup {
	background-color: #FFFFFF;
	border: 1px solid #C7C7C7;
	border-radius: 5px 5px 5px 5px;
	margin: 50px;
	padding: 30px 50px;
}

.login_external_popup_mapping {
	width: 620px;
}
.login_external_popup_autoregist {
	width: 620px;
}
.login_external_popup_logging {
	width: 620px;
}
.login_external_popup_confirm {
	width: 480px;
}
.login_external_popup h2.th_login_blocktitle {
	font-size: 150%;
	line-height: normal;
	margin: 0 0 5px;
	padding: 5px;
}

.login_external_popup div.login_ssl_outer_rememberme {
	height:auto;
}
.login_external_popup iframe.login_mapping_iframe {
	height:155px;
}
.login_external_popup div.login_mapping_cancel_btn {
	margin-top: -52px !important;
}

.login_external_popup .redirect_main {
	margin: 60px 0px 50px 30px;
}

.login_popup_outertable {
	margin-top: 20px;
	margin-bottom: 30px;
}

.login_external_popup th.login_detail_head {
	font-weight: normal;
	padding: 1px 10px !important;
}
.login_external_popup td.login_detail_detail {
	padding: 1px;
}